# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
# Points to the Python module containing your project's settings
default = pii_crawler_project.settings

[deploy]
# Optional: Configuration for deploying to a Scrapyd server
#url = http://localhost:6800/
project = pii_crawler_project
# username = your_username
# password = your_password
